.bg-0 {
  background-color: var(--c0);
}

.bg-1 {
  background-color: var(--c1);
}

.bg-2 {
  background-color: var(--c2);
}

.bg-3 {
  background-color: var(--c3);
}

.bg-4 {
  background-color: var(--c4);
}
