.cor-0 {
  color: var(--c0);
}

.cor-1 {
  color: var(--c1);
}

.cor-2 {
  color: var(--c2);
}

.cor-3 {
  color: var(--c3);
}

.cor-4 {
  color: var(--c4);
}

.cor-5 {
  color: var(--c5);
}

.cor-6 {
  color: var(--c6);
}
