.font-16 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.font-16-b {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.font-20 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.font-20-b {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
