.font-16 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.font-16-b {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.font-20 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.font-20-b {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.font-36 {
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.font-36-b {
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.font-48 {
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.font-48-b {
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
