.info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 10px;
  flex-wrap: wrap;
}

.info span {
  margin: 0px 10px 10px 10px;
  text-align: center;
}
