.sobre {
  padding: 60px 0px;
  border-bottom: 3px solid var(--c2);
}

.sobre h2 {
  margin-bottom: 30px;
}

.sobre-conteudo {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sobre-texto {
  flex: 2 1 300px;
  padding-right: 20px;
  margin: 10px;
}

.sobre-imagens {
  flex: 1 1 160px;
  margin: 10px;
}

.sobre-texto p:first-child {
  margin-bottom: 40px;
}
